<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - RapidLaunch</title>
    <!-- Favicons -->
    <link href="~/favicon.ico" rel="icon" />
    <!-- Bootstrap core CSS -->
    <link href="~/lib/bootstrap_copy/css/bootstrap.min.css" rel="stylesheet">
    <!--External CSS-->
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/css/zabuto_calendar.css">
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap-select.min.css" />
    <link href="~/lib/advanced-datatable/css/demo_page.css" rel="stylesheet" />
    <link href="~/lib/advanced-datatable/css/demo_table.css" rel="stylesheet" />
    <link href="~/lib/advanced-datatable/css/DT_bootstrap.css" rel="stylesheet" />
    <link href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/style-responsive.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
    <section id="container">
        <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
        <partial name="_CookieConsentPartial" />

        <!--header start-->
        <header class="header black-bg">
            <div class="sidebar-toggle-box">
                <div class="fa fa-bars"></div>
            </div>
            <!--logo start-->
            <a asp-area="" asp-controller="Home" asp-action="Index" class="logo"><b>Rapid<span>Launch</span></b></a>
            <!--logo end-->
            <div class="top-menu">
                <partial name="_LoginPartial">
            </div>
        </header>
        <!--header end-->
        <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse ">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu" id="nav-accordion">
                    <li class="mt">
                        <a class="active" asp-area="" asp-controller="Home" asp-action="Index">
                            <i class="fa fa-dashboard"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="fa fa-github-alt"></i>
                            <span>Providers</span>
                        </a>
                        <ul class="sub">
                            <li><a asp-area="" asp-controller="Provider" asp-action="Index">View Providers</a></li>
                            <li><a asp-area="" asp-controller="Provider" asp-action="Manage">Manage Providers</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="fa fa-rocket"></i>
                            <span>Rockets</span>
                        </a>
                        <ul class="sub">
                            <li><a asp-area="" asp-controller="RocketModel" asp-action="Index">View Rockets</a></li>
                            <li><a asp-area="" asp-controller="RocketModel" asp-action="Manage">Manage Rockets</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="fa fa-calendar"></i>
                            <span>Launches</span>
                        </a>
                        <ul class="sub">
                            <li><a asp-area="" asp-controller="Launch" asp-action="Index">View Launches</a></li>
                            <li><a asp-area="" asp-controller="Launch" asp-action="Manage">Manage Launches</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="fa fa-map-marker"></i>
                            <span>Launch Sites</span>
                        </a>
                        <ul class="sub">
                            <li><a asp-area="" asp-controller="LaunchSite" asp-action="Index">View Launch Sites</a></li>
                            <li><a asp-area="" asp-controller="LaunchSite" asp-action="Manage">Manage Launch Sites</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="fa fa-group"></i>
                            <span>Staff</span>
                        </a>
                        <ul class="sub">
                            <li><a a asp-area="" asp-controller="Staff" asp-action="Index">View Staff</a></li>
                            <li><a a asp-area="" asp-controller="Staff" asp-action="Manage">Manage Staff</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->
        <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
        <!--main content start-->
        <br />
        <br />
        <br />
        <section id="main-content">
            <section class="wrapper site-min-height">
                @RenderBody()
            </section>
        </section>
        <!--main content end-->
    </section>
    <!--common script for all pages-->
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery_copy/jquery.min.js"></script>
    <script src="~/lib/bootstrap_copy/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap-select.min.js"></script>
    <script src="~/lib/jquery.dcjqaccordion.2.7.js" class="include"></script>
    <script src="~/lib/jquery.scrollTo.min.js"></script>
    <script src="~/lib/jquery.nicescroll.js"></script>
    <script src="~/lib/common-scripts.js"></script>
    <!--external script for all pages-->
    <script src="~/lib/advanced-datatable/js/jquery.dataTables.js"></script>
    <script src="~/lib/raphael/raphael.min.js"></script>
    <script src="~/lib/morris/morris.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
