@page
@model IndexModel
@{
    Layout = "_Layout.cshtml";
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-12">
        <form id="profile-form" method="post">
            <!--<div asp-validation-summary="All" class="text-danger"></div-->
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="text-danger d-inline-block"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger d-inline-block"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Postcode"></label>
                <input asp-for="Input.Postcode" class="form-control" />
                <span asp-validation-for="Input.Postcode" class="text-danger d-inline-block"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.DOB"></label>
                <input asp-for="Input.DOB" class="form-control" />
                <span asp-validation-for="Input.DOB" class="text-danger d-inline-block"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.NHSNumber"></label>
                <input asp-for="Input.NHSNumber" class="form-control" />
                <span asp-validation-for="Input.NHSNumber" class="text-danger d-inline-block"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger d-inline-block"></span>
            </div>
            <div class="form-group pt-5 mb-0" align="center">
                <button type="submit" class="btn btn-primary btn-block">Save</button>
            </div>
        </form>
    </div>
</div>