@page
@model PersonalDataModel
@{
    Layout = "Layout.cshtml";
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<div class="row">
    <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-12">
        <p>Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>

        <form asp-page="DownloadPersonalData" method="post" class="form-group">
            <div class="form-group pt-3" align="center">
                <button class="btn btn-primary btn-block" type="submit">Download</button>
            </div>

            <p>
                <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
            </p>

            <div class="form-group pt-3" align="center">
                <a asp-page="DeletePersonalData" class="btn btn-danger btn-block">Delete Account</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}