@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
                <div class="text-center mb-3">
                    <h4>Reset your password</h4>
                    <b>
                        <sm>
                            <a asp-area="Identity" asp-page="/Account/Login">Go back to log in</a>
                        </sm>
                    </b>
                </div>

                <div class="card">
                    <div class="card-header text-center">
                        <h5 class="card-title pt-2"></h5>
                    </div>

                    <div class="card-body card-center">
                        <h5 class="py-3">
                            Your password has been reset.
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>