@model RapidLaunch.Models.Rocket

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h3>Edit Rocket</h3>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="RocketEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RocketID" />
            <div class="form-group">
                <label asp-for="RocketCode" class="control-label"></label>
                <input asp-for="RocketCode" class="form-control" />
                <span asp-validation-for="RocketCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManufactureDate" class="control-label"></label>
                <input asp-for="ManufactureDate" class="form-control" />
                <span asp-validation-for="ManufactureDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RocketModelID" class="control-label"></label>
                <select asp-for="RocketModelID" class="form-control" asp-items="ViewBag.RocketModelID"></select>
                <span asp-validation-for="RocketModelID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RocketStatusID" class="control-label"></label>
                <select asp-for="RocketStatusID" class="form-control" asp-items="ViewBag.RocketStatusID"></select>
                <span asp-validation-for="RocketStatusID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" /> |
                <a asp-action="RocketCreate" asp-route-id=@Model.RocketModelID class="btn btn-info">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
